@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bottom-tab-height: 74px;
}

@layer base {
  [hidden] {
    display: none !important;
  }

  html {
    @apply h-[100%];
  }

  body {
    @apply min-h-[100%] mx-auto max-w-[600px] flex flex-col;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }

  main {
    @apply flex flex-col grow;
  }

  input:focus {
    @apply outline-none;
  }

  h1 {
    @apply text-h1;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

@layer components {
  .header {
    @apply sticky top-0 z-[1] bg-white flex justify-between items-center w-[100%] h-[48px] min-h-[48px] pl-[24px] pr-[24px];
  }

  .bottom-tab {
    @apply flex sticky bottom-0 bg-white w-[100%] h-[74px] min-h-[74px] shadow-[0px_-8px_16px_0px_rgba(0,0,0,0.04)];
  }

  .center {
    @apply flex justify-center items-center;
  }

  .col-expanded {
    @apply flex flex-col grow;
  }
}

/* react-spring-bottom-sheet */
div[data-rsbs-overlay],
div[data-rsbs-backdrop] {
  margin: 0 auto;
  max-width: 600px;
  bottom: var(--bottom-tab-height);
}
