@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bottom-tab-height: 74px;
}

@layer base {
  [hidden] {
    display: none !important;
  }

  html {
    @apply h-[100%] w-[100vw] overflow-x-hidden;
  }

  body {
    @apply min-h-[100%] mx-auto max-w-content flex flex-col;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }

  main {
    @apply flex flex-col grow;
  }

  input:focus {
    @apply outline-none;
  }

  h1 {
    @apply text-h1;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  /* react-spring-bottom-sheet */
  div[data-rsbs-overlay],
  div[data-rsbs-backdrop] {
    @apply max-w-content;
  }

  /* mui drawer */
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16 {
    @apply max-w-content mx-auto;
  }
}

@layer components {
  .header {
    @apply sticky top-0 z-[1] bg-white flex justify-between items-center w-[100%] h-[48px] min-h-[48px] pl-[24px] pr-[24px];
  }

  .bottom-tab {
    @apply flex sticky bottom-0 bg-white w-[100%] h-[74px] min-h-[74px];
  }

  .bottom-sheet-list {
    @apply flex text-body3 h-[48px] mx-[24px];
  }

  .bottom-sheet-button {
    @apply flex items-center grow;
  }

  .center {
    @apply flex justify-center items-center;
  }

  .col-expanded {
    @apply flex flex-col grow;
  }

  .select {
    @apply bg-[center_right_10px] bg-[url(/icons/down-arrow.svg)] bg-no-repeat border-[1px] border-solid border-grey-02 py-[8px] px-[10px] rounded-[20px] appearance-none;
  }

  .liket-card {
    @apply w-liket-card h-liket-card rounded-[8px] border-[2px] border-solid divide-grey-01 relative mx-auto;
  }

  .empty {
    @apply grow center text-body3 text-grey-04;
  }
}

/* react-spring-bottom-sheet */
div[data-rsbs-overlay],
div[data-rsbs-backdrop] {
  margin: 0 auto;
  border-radius: 24px 24px 0 0;
  bottom: var(--bottom-tab-height);
}
div[data-rsbs-header] {
  padding-bottom: 12px;
}
